body {
    font-family: Arial, sans-serif;
}

.breadcrumb {
    font-size: 14px;
    color: #282727;
    display: flex;
    align-items: center;
    gap: 6px;
    z-index: 100;
    margin-top: 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    border: 1px solid #ddd;
    border-radius: 6px;
    background-color: #f9f9f9;
    padding: 8px 12px;
    width: 100%;
    position: relative;
    padding-left: 132px;
}
.breadcrumb a {
    color: #007bff;
    cursor: pointer;
}

.breadcrumb i.fa-angle-right {
    margin: 0 6px;
    color: #aaa;
}

#product-container.product-detail {
    display: flex;
    gap: 24px;
    padding: 24px;
    font-family: Arial, sans-serif;
    max-width: 1050px;
    margin: auto;
  }
  
  .product-left {
    width: 50%;
    margin-left: 0; /* thêm nếu cần */
    transform: translateX(25px);
  }
  
  /* Container chính */
.product-image-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 420px;
  margin-bottom: 20px;
  margin-top: -50px;
}

.product-main-image img {
  width: 50%;
  border-radius: 12px;
  transform: translateX(130px);
  height: auto;
  transition: all 0.3s ease;
}

/* Nút điều hướng ảnh */
.image-nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: #333;
  font-size: 18px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.image-nav-left {
  left: 10px;
}

.image-nav-right {
  right: 10px;
}

.image-nav-btn:hover {
  background-color: rgba(0, 0, 0, 0.12);
  color: black;
  border-color: rgba(0, 0, 0, 0.2);
}

/* Thumbnails */
.product-thumbnails {
  display: flex;
  justify-content: center;
  gap: 8px;
  flex-wrap: wrap;
  margin-top: -60px;
  z-index: 2;
}

.product-thumbnails img {
  width: 56px;
  height: 56px;
  border-radius: 10px;
  object-fit: cover;
  border: 1px solid #ccc;
  cursor: pointer;
  z-index: 1;
  transition: transform 0.2s, border-color 0.2s;
}

.product-thumbnails img:hover {
  transform: scale(1.05);
  border-color: #333;
}

  



  
  /* Thông số nổi bật */
.specs-highlight {
  background: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 16px;
  margin-top: 20px;
  font-family: Arial, sans-serif;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.specs-highlight h3 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 12px;
  margin-top: 0;
  color: #333;
}

.specs-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
  border-top: 1px solid #f1f1f1;
}

.specs-block:first-child {
  border-top: none;
}

.specs-left {
  width: 45%;
}

.specs-left .spec-title {
  font-size: 13px;
  color: #666;
  margin: 0;
  line-height: 1.4;
}

.specs-left .spec-value {
  font-size: 14.5px;
  font-weight: 700;
  margin: 4px 0;
  color: #333;
}

.specs-left a {
  font-size: 12px;
  color: #0071e3;
  text-decoration: none;
  line-height: 1.4;
}

.specs-left a:hover {
  text-decoration: underline;
}

.specs-right {
  display: flex;
  gap: 16px;
  align-items: flex-start;
  width: 55%;
  justify-content: flex-end;
  margin-left: 50px;
}

.spec-option {
  text-align: center;
  position: relative;
  font-size: 13px;
  color: #333;
  opacity: 1;
  flex: 1;
}

.spec-option i {
  font-size: 18px;
  margin-bottom: 6px;
  display: block;
}

.spec-option p {
  margin: 0;
  font-size: 12px;
  line-height: 1.4;
}

.spec-option.gray {
  opacity: 0.4;
}

.spec-option.active {
  font-weight: 600;
  color: #333;
}

.spec-option.active::before {
  content: "▲";
  font-size: 10px;
  color: #333;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
}
  
.product-policy {
  margin-top: 10px;
  padding: 16px;
  border: 1px solid #ddd;       /* Viền bao quanh */
  border-radius: 2px;           /* Bo góc nhẹ cho đẹp */
  background-color: #fff;       /* Nền trắng nếu cần làm nổi */
  width: 630px;
  
}


.product-policy h3 {
  font-size: 15px;
  margin-bottom: 12px;
  font-weight: 600;
  margin-top: -1px;
}

.policy-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 40px;
}

.policy-item {
  display: flex;
  align-items: center;
  font-size: 13px;
  color: #000;
}

.policy-item i {
  font-size: 14px;
  margin-right: 8px;
  color: #e40808;
}

.policy-item a {
  color: #0054d2;
  text-decoration: none;
}

.policy-item a:hover {
  text-decoration: underline;
}

.product-thumbnails img:hover,
.product-thumbnails img.hovered {
    border: 0.9px solid #333;
   
    border-radius: 6px;
    transform: scale(1.05);
    transition: 0.2s;
}



  /* ========== CỘT PHẢI ========== */
  .product-right {
    width: 42%;
    padding-right: 16px;
    transform: translateX(33px);
    margin-top: -15px;
  }
  
  .product-title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .product-meta {
    color: #777;
    font-size: 13px;
    margin-bottom: 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    align-items: center;
  }
  
  .product-meta .divider {
    color: #ccc;
  }
  
  .product-meta a {
    color: #007bff;
    text-decoration: none;
  }
  
  .product-options {
    margin-bottom: 16px;
  }
  
  .option label {
    display: block;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 14px;
  }
  
  .storage-options {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 6px;
  }
  
  .storage {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 6px 12px;
    font-size: 13px;
    cursor: pointer;
    position: relative;
    transition: border 0.2s;
    background-color: white;
  }
 
  .storage:hover,
  .storage.active {
    border: 1.3px solid #e30019;
  }

  .storage:hover::after,
  .storage.active::after {
    content: "✓";
    position: absolute;
    top: -1px;
    right: -1px;
    background-color: #e30019;
    color: white;
    font-size: 11px;
    font-weight: bold;
    width: 16px;
    height: 16px;
    text-align: center;
    line-height: 16px;
    border-bottom-left-radius: 4px;
    border-radius: 50px 80px;
  }
  .color-options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    margin-top: 8px;
  }
  
  .color {
    display: flex;
    align-items: center;
    padding: 6px 10px;
    border: 1px solid #d3d3d3;
    border-radius: 12px;
    background-color: #fff;
    cursor: pointer;
    transition: border 0.3s ease;
    min-width: 140px;
  }
  
  .color:hover,
  .color.active {
    border: 1.3px solid #e30019;
    position: relative;
  }
  
  .color:hover::after,
  .color.active::after {
    content: "✓";
    position: absolute;
    top: -1px;
    right: -1px;
    background-color: #e30019;
    color: white;
    font-size: 11px;
    font-weight: bold;
    width: 16px;
    height: 16px;
    text-align: center;
    line-height: 16px;
    border-bottom-left-radius: 4px;
    border-radius: 5px 25px;
  }
  .color img {
    width: 32px;
    height: auto;
    margin-right: 8px;
    border-radius: 4px;
    flex-shrink: 0;
  }
  
  .color span {
    font-size: 13px;
    color: #000;
    margin-top: 1px;
    transform: translateY(1px); 
  }
  
  .price-promo-box {
    margin-top: 5px;
    padding: 16px;
    border: 1px solid #ffffff;      
    border-radius: 8px;           
    background-color: #fff;       
    background: linear-gradient(to bottom, #fcf8e0 2%, #ffffff 70%);
    border: 1px solid #edda32;  

  }

  .price-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -25px;
    border-radius: 10px;
    padding: 16px 20px;
    gap: 12px;
    
  }
  
  .buy-now,
  .installment {
    flex: 1;
  }
  
  .label1 {
    font-size: 14px;
    color: #393838;
    margin-bottom: 4px;
  }
  
  .price-line {
    display: flex;
    align-items: baseline;
    gap: 4px;
  }
  
  .new-price {
    font-size: 19px;
    font-weight: bold;
    color: #ff0000;
  }
  .installment-price {
    font-size: 14px;
    font-weight: bold;
    color: #000;
  }

  .installment {
    margin-top: 4px;
    transform: translateX(-20px);
  }
  .currency1 {
    font-size: 16px;
    font-weight: bold;
    color: #000;
  }
  
  .old-line {
    display: flex;
    align-items: baseline;
    gap: 4px;
    margin-top: 4px;
  }
  
  .old-price {
    font-size: 13px;
    color: #999;
    text-decoration: line-through;
  }
  
  .discount1 {
    font-size: 13px;
    color: #e30019;
    font-weight: 500;
  }
  
  .per-month {
    font-size: 13px;
    color: #444;
  }
  
  .reward {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    background-color: #fff2cc;
    color: #d49a00;
    font-size: 13px;
    padding: 6px 12px;
    border-radius: 12px;
    margin-top: 10px;
    font-weight: 500;
    border: 1px solid #d3c62f;
  }
  
  .reward .points {
    font-weight: 600;
  }
  
  .reward .label2 {
    white-space: nowrap;
  }
  .middle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    transform: translateX(-37px);
  }
  
  .or-text {
    font-size: 13px;
    color: #6e6c6c;
  }
  
  .promotions {
    background: #fff;
    border: 1px solid #b2afaf;
    border-radius: 6px;
    padding: 10px 14px;
    margin-top: 16px;
    margin-top: 10px;
  }
  
  .promotions h4 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 8px;
    margin-top: 2px;
  }
  
  .promotions ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
  }
  
  .promotions li {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 6px;
    font-size: 13px;
    position: relative;
    padding-left: 24px;
  }
  .promotions li:hover{
    color: #0b79f0;
    text-decoration: underline;
  }
  
  .promotions li::before {
    content: "✓";
    position: absolute;
    left: 0;
    top: -1.7px;
    width: 18px;
    height: 18px;
    background-color: #1ae300;
    color: #fff;
    border-radius: 50%;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .student-offer {
    margin-top: 10px;
  }
  
  .student-offer .tag {
    background-color: #f33b3b;
    color: #fff;
    padding: 4px 10px;
    font-size: 13px;
    border-radius: 10px 10px 0 0;
    display: inline-block;
  }
  
  .discount-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    border: 1px dashed #f33b3b;
    border-top: none;
    padding: 14px;
    border-radius: 0 0 10px 10px;
  }
  
  .discount-box .left p {
    margin: 0;
    color: #555;
    font-size: 13px;
  }
  
  .discount-box .left strong {
    font-size: 20px;
    color: #d80000;
  }
  
  .btn-confirm {
    background-color: #e30019;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 10px 16px;
    font-size: 13px;
    cursor: pointer;
  }

  .btn-confirm:hover{
    background: rgb(186, 10, 10);
  }

  .warranty-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: -10px;
  }
  
  .warranty-list button {
    padding: 8px;
    border: 1px solid #ccc;
    background: #f5f5f5;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
  }

  .warranty-list button:hover{
    background: #e2e4e6;
  }

  .action-buttons {
    display: flex;
    gap: 12px;
    margin-top: 20px;
    align-items: center;
  }
  .action-buttons button {
    border-radius: 12px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btn-cart {
    width:140px;
    height: 46px;
    background-color: #000000;          
    border: 1px solid #00000000 !important;
    border-radius: 10px;             
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;                   
    font-size: 18px;
    cursor: pointer;
    gap: 9px;
  }

  .btn-cart i{
    color: rgb(255, 255, 255);
  }
  .btn-cart:hover{
    background: #3b3b3c;
  }
  .btn-cart:hover i{
    transform: scale(1.15);
  }
  .btn-buy {
    background-color: #e30019;
    color: #fff;
    padding: 14px 20px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px; 
  }

  .btn-buy:hover{
    background: rgb(178, 8, 8);

  }
  .btn-buy:hover i{
    transform: scale(1.15);
  }
  .btn-installment {
    background-color: #0b0b0b;
    color: #fff;
    flex: 1;
    font-size: 15px;
    padding: 0; 
    text-align: center;
    height: 48px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .btn-installment:hover{
    background: #504e4e;
  }

  .btn-installment small {
    font-size: 13px;
    font-weight: 300;
  }
.action-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 440px;
    transform: translateX(1px);
}
.quantity-selector {
  display: flex;
  align-items: center;
  background-color: #ddd8d8; 
  border: 1.2px solid #412222;
  padding: 4px;
  gap: 4px;
  border-radius: 12px; 
  height: 36px;
 
}
.quantity-btn {
  width: 33px;
  height: 44px;
  background-color: #f4f0f0; 
  color: #000000;         
  font-size: 30px;
  font-weight: bold;
  transition: transform 0.2s ease, background-color 0.2s ease;
  border: none;
}


.quantity-btn.minus {
  border-radius: 11px 0 0 11px; /* Rounded left edge */
  transform: translateX(-3.3px);
}

.quantity-btn.minus:hover{
  transform: scale(0.9);
  font-weight: bold;
}
.quantity-btn.plus:hover{
  transform: scale(0.9);
  font-weight: bold;
}

.quantity-btn.plus {
  border-radius: 0 11px 11px 0; /* Rounded right edge */
  transform: translateX(3.3px);
}


#quantity-value {
  width: 18px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin-right: 4px;
  color: #000000;   
  margin-left: 4px;
}

  .hotline {
    margin-top: 20px;
    font-size: 14px;
    background: #e8f5e9;
    padding: 10px;
    border-radius: 8px;
  }
  


  .product-tabs {
    
    padding: 15px;
    margin-top: 15px;
    background: #fff;
    width: 630px;
    height: auto;
}

.tab-header {
    display: flex;
    border-bottom: 2px solid #ccc;
    margin-bottom: 10px;
}

.tab {
    padding: 4px 17px;
    cursor: pointer;
    font-weight: 400;
    color: #9d9c9c;
}

.tab.active {
    color: #000;
    border-bottom: 3px solid #007bff;
}

.tab-content {
    padding: 10px 0;
}

.tab-pane {
    display: none;
}

.tab-pane.active {
    display: block;
}
.content-wrapper {
  position: relative;
  overflow: hidden;
  max-height: 770px; /* Chiều cao ban đầu */
  transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
  opacity: 1;
}
.content-wrapper.expanded {
  max-height: 1900px; /* Chiều cao tối đa khi mở rộng */
  opacity: 1;
}
.content-wrapper p {
  margin: 0;
  line-height: 1.6;
  color: #333;
}
.read-more {
  display: flex;
  align-items: center;
  color: #007bff;
  cursor: pointer;
  margin-top: 10px;
  font-size: 14px;
  margin-left: 275px;
}
.read-more i {
  margin-left: 5px;
  transition: transform 0.3s ease;
}

.read-more.expanded i {
  transform: rotate(180deg);
}



/* Tiêu đề phần đánh giá */
.review-title {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Dòng sao đánh giá */
.rating-stars {
  font-size: 24px;
  color: #ccc;
  cursor: pointer;
  user-select: none;
}

/* Khi rê chuột hoặc chọn sao */
.rating-stars span:hover,
.rating-stars span:hover ~ span {
  color: gold;
}

/* Ô nhập nhận xét */
#review-text {
  width: 600px;
  height: 100px;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
  font-size: 14px;
  background-color: #ebf1f4;
}

/* Nút gửi */
#btn-review {
  
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
}
#btn-review:hover {
  background-color: rgb(232, 24, 24);
  color: rgb(255, 255, 255);
  transform: scale(1.05);
}

/* Gạch ngang phân tách */
.review-divider {
  margin: 30px 0;
}

/* Tóm tắt đánh giá người dùng */
.user-rating-summary {
  display: flex;
  align-items: center;
  font-size: 24px;
}
.user-rating-summary .score {
  color: red;
  font-weight: bold;
  margin-right: 10px;
}
.user-rating-summary .stars {
  color: gold;
}
.user-rating-summary .count {
  margin-left: 20px;
  font-size: 18px;
  color: purple;
}

/* Thông báo chưa có đánh giá */
.no-reviews {
  margin-top: 10px;
  color: gray;
  font-style: italic;
}

.technical-specs {
   
    padding: 15px;
    background: #f9f9f9;
    margin-top: 6px;
    width: 100%;
    max-width: 300px;
    float: right;
}

.technical-specs h3 {
    margin-top: 0;
    font-size: 16px;
    font-weight: 300;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
}

.technical-specs ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.technical-specs ul li {
  display: flex;
  padding: 6px 9px;
  border-bottom: 1px solid #eee;
  font-size: 14px;
  line-height: 1.4;
  text-align: left;
}

.technical-specs ul li span {
  font-weight: 600;
  color: #000;
  min-width: 140px; 
  display: inline-block;
}

.technical-specs ul li:nth-child(odd) {
  background-color: #f3f2f2; 
}

.technical-specs ul li:nth-child(even) {
  background-color: white; 
}


.related-products {
  width: 310px;
  margin-left: 113px;
  padding-bottom: 58px;
  margin-top: 469.8px;
  background-color: #f9f9f9;
  padding-left: 18px;
  padding-top: 2px;
}

.related-products h3 {
  font-size: 16px;
  margin-bottom: 15px;
  border-bottom: 2px solid #ccc;
  font-weight: 300;
  padding-bottom: 10px;
}




.product-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  cursor: pointer;
}

.product-item img:hover {
  transform: scale(1.08);
  transition-duration: 0.3s;
}

.product-thumb {
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin-right: 10px;
}

.product-info {
  flex: 1;
}

.product-name {
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}

.product-name:hover {
  color: #007bff;
}

.rating {
  color: #f8b400;
  font-size: 14px;
}

.price-info {
  font-size: 14px;
}

.price-sale {
  color: red;
  font-weight: bold;
  font-size: 14px;
}

.price-original {
  text-decoration: line-through;
  margin-left: 7px;
  color: gray;
  font-size: 12px;
  margin-top: -6px;
}

.discount {
  color: rgb(0, 0, 0);
  margin-left: 10px;
  background-color: #b0b2b3;
  font-weight: 600;
}





















.detail-button1 {
  margin-top: 15px;
  padding: 10px 16px;
  background-color: #fff;
  border: 1px solid #007bff;
  color: #007bff;
  font-size: 14px;
  font-weight: 500;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  width: 100%;
  text-align: center;
 
}

.detail-button1:hover {
  background-color: #e6f0ff; /* xanh nhạt */
  color: #0056b3;
}

.btn-installment {
  width:110px;
  height: 30px;
  background-color: white;
  color: #007bff;
  border: 1px solid #007bff;
  border-radius: 3px;
  font-size: 13px;
  transition: background-color 0.2s, color 0.2s;
  padding: 5px;
  margin-top: 7px;
  cursor: pointer;
}

.btn-installment:hover {
  background-color: #e6f0ff; /* xanh nhạt */
  color: #0056b3;
}




  